<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <p><%= @user.description %></p>
      <p><%= @user.location %></p>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <a href="<%= following_user_path %>" class="btn btn-default">
          followings <span class="badge"><%= @user.following_users.count %></span>
        </a>
        <a href="<%= followers_user_path %>" class="btn btn-default">
          followers <span class="badge"><%= @user.follower_users.count %></span>
        </a>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @users.any? %>
      <section class="user_info">
        <ul class="list-group">

        <% @users.each do |user| %>
          <li class="list-group-item" style="overflow:hidden;">
            <h2 class="list-group-item-heading text-left">
              <%= gravatar_for(user, size: 50) %>
              <%= link_to user.name, user %>
            </h2>
          </li>
        <% end %>

        </ul>
      </section>
    <% end %>
  </div>
</div>
